.section-first {
  padding-top: 100px;
}

.section-first .container {
  display: grid;
  grid-template-columns: 43% 57%;
}

.section-first .right {
  padding-top: 30px;
}

.section-first img {
  max-width: 100%;
}

.section-first h1 span {
  text-shadow: 3px 3px #aaa;
}

.section-first h1 {
  margin-bottom: 36px;
  max-width: 447px;
}

.section-first p {
  max-width: 260px;
  margin-bottom: 40px;
}

.get-started {
  text-decoration: none;
  background: var(--color-black);
  padding: 14px 33px;
  color: var(--color-white);
  box-shadow: 5px 5px 0px var(--color-yellow);
  transition: var(--transition);
}

.get-started:hover,
.get-started:active {
  text-decoration: none;
}

.get-started:hover {
  box-shadow: 3px 3px 0px var(--color-yellow);
}

.get-started:active {
  box-shadow: 1px 1px 0px var(--color-yellow);
}

.section-second {
  height: 228px;
  padding-top: 50px;
  position: relative;
}

.section-second h2 {
  font-size: 2.125rem;
  line-height: 1.17;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-red);
  padding: 36px;
  border: var(--border);
}

.section-second .container div {
  position: absolute;
  height: 120px;
  width: 98%;
  max-width: 1040px;
  margin-left: 8px;
  background: var(--color-yellow);
  border: var(--border);
  transform: rotate(6deg);
  z-index: -1;
}

.section-third {
  padding-top: 118px;
}

.section-third h2 {
  color: var(--color-blue);
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.section-third h2::after {
  content: url(../../assets/images/catalog-title-decor.svg);
  position: absolute;
  top: -20px;
  left: 600px;
  z-index: -1;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.25rem;
  row-gap: 3.75rem;
}

.book-card {
  background: var(--color-beije);
  border: var(--border);
  box-shadow: 4px 4px 0px var(--color-black);
  border-radius: 28px;
  overflow: hidden;
  height: fit-content;
}

.book-image {
  text-align: center;
  border-bottom: 4px solid #000000;
  height: 13.625rem;
}

.book-image img {
  max-height: 100%;
}

.blue {
  background: var(--color-blue);
}

.red {
  background: var(--color-red);
}

.yellow {
  background: var(--color-yellow);
}

.book-text {
  padding: 1.875rem 2rem 0;
}

.author {
  font-size: 1.25rem;
  line-height: 1.15;
  margin-bottom: 0.75rem;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.rating {
  display: flex;
  margin-bottom: 0.75rem;
}

.stars {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}

.stars img {
  width: 1rem;
  height: 1rem;
}

.book-text .price,
.modal-body .price {
  display: flex;
  gap: 0.25rem;
  align-items: flex-end;
  margin-bottom: 30px;
}

.book-text .price p,
.modal-body .price p {
  padding-bottom: 4px;
}

.book-text .price span,
.modal-body .price span {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

.book-card .btn {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

.btn-white {
  background: var(--color-white);
  margin-bottom: 20px;
}

.btn-yellow {
  color: var(--color-white);
  background: var(--color-yellow);
  margin-bottom: 34px;
}

.section-fourth {
  background-image: url(../../assets/images/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 809px;
}

.section-fourth h2 {
  padding-top: 275px;
  text-align: center;
  margin-bottom: 80px;
}

.section-fourth .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.section-fourth .btn {
  display: inline-block;
  margin: 0;
  padding: 15px 80px;
}

.section-fourth .btn:hover,
.section-fourth .btn:active {
  text-decoration: none;
}

.btn-black {
  background: var(--color-black);
  color: var(--color-white);
}

.section-fourth .btn-white {
  position: relative;
}

.section-fourth .btn-white::after {
  content: url(../../assets/images/chat-btn-decor.svg);
  position: absolute;
  top: -60px;
  right: -130px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.copy {
  color: var(--color-red);
}

@media screen and (max-width: 1090px) {
  .container {
    max-width: 900px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section-second .container div {
    width: 90%;
    left: 50%;
    top: 50%;
    transform-origin: top left;
    transform: rotate(6deg) translate(-50%, -50%);
  }

  .rating {
    flex-direction: column;
  }

  .stars {
    margin-bottom: 0.5rem;
  }

  .section-fourth {
    height: 600px;
  }

  .section-fourth h2 {
    padding-top: 210px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .logo img {
    width: 100px;
  }

  header {
    height: 80px;
  }

  .section-first {
    padding-top: 80px;
  }

  .section-first .container {
    grid-template-columns: 1fr;
  }

  .section-first .right {
    display: none;
  }

  .section-first .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-first .left h1,
  .section-first .left p {
    max-width: 100%;
  }

  .btn.get-started {
    width: 40%;
  }

  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem !important;
  }

  .section-third {
    padding-top: 60px;
  }

  .section-third h2::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .catalog {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 3rem;
  }

  .book-card .title {
    margin-bottom: 1.5rem;
  }

  .section-third {
    margin-bottom: 2rem;
  }

  .section-fourth {
    background-image: linear-gradient(
      165deg,
      transparent 50%,
      var(--color-yellow) 50%
    );
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section-fourth h2 {
    padding-top: 0;
  }

  .section-fourth .btn::after {
    display: none;
  }

  footer {
    margin-top: -1px;
    background: var(--color-yellow);
  }
}

@media screen and (max-width: 480px) {
  header .nav-link:not(:last-child) {
    display: none;
  }

  .catalog {
    grid-template-columns: 1fr;
  }

  .rating {
    flex-direction: row;
  }

  .section-second .container div {
    display: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .btn.get-started {
    width: 100%;
  }

  .section-second h2 {
    font-size: 1.5rem !important;
    padding: 1.25rem;
  }

  footer .container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}

.modal {
  background-color: var(--color-white);
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out all;
  border: var(--border);
  width: 90%;
  max-width: 1060px;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 20px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  border-bottom: var(--border);
}

.close-btn {
  font-size: 48px;
  line-height: 1;
  cursor: pointer;
  border-left: var(--border);
  padding-left: 27px;
}

.modal-body {
  display: grid;
  grid-template-columns: 32% 68%;
}

.modal-body .body-left {
  border-right: var(--border);
}

.modal-image {
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
}

.modal-text {
  padding: 30px 40px;
}

.modal-body .body-right {
  display: grid;
  grid-template-rows: 67% 33%;
}

.modal-body .body-right .right-top {
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.right-bottom {
  display: flex;
  align-items: center;
}

.right-bottom > div {
  height: 100%;
}

.right-bottom .price {
  border-right: var(--border);
  margin-bottom: 0;
  align-items: center;
  padding-left: 23px;
  padding-right: 46px;
}

.right-bottom .price p {
  margin-top: 15px;
}

.right-bottom .btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.right-bottom .btn {
  margin-bottom: 0;
  padding: 14px 85.5px;
}

.overlay {
  background-color: transparent;
  z-index: 7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  transform: scale(0);
  transition: 0.3s ease-in-out all;
}

.overlay.active {
  transform: scale(1);
}

.cart {
  background-color: var(--color-white);
  z-index: 10;
  position: fixed;
  right: 0;
  top: -1000px;
  transition: 0.3s ease-in-out all;
  border-left: var(--border);
  border-right: var(--border);
  width: 520px;
  height: fit-content;
  min-height: 100vh;
}

.cart.active {
  top: 0;
}

.cart-body {
  background-color: var(--color-white);
}

.cart-header {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  border-bottom: var(--border);
}

.cart-header p {
  padding-left: 18px;
}

.cart-header button {
  padding: 0 27px;
  height: 100%;
}

.cart-book-img {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--border);
}

.cart-book-img img {
  width: auto;
  height: 193px;
}

.cart-book {
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 160px auto 70px;
  min-height: 193px;
  max-height: fit-content;
}

.empty-message {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

.cart-book-details {
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-left: 20px;
}

.x-price {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-bottom: 13px;
  justify-content: space-between;
  height: 100%;
}

.remove-btn {
  font-size: 48px;
  line-height: 1;
  cursor: pointer;
  padding-right: 27px;
  text-align: right;
  color: var(--color-red);
}

.price-in-cart {
  padding-right: 11px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
