@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

:root {
  --transition: 0.3s all ease;
  --color-beije: #f5f4da;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #bb393c;
  --color-yellow: #ffc562;
  --color-blue: #3946bb;
  --border: 4px solid var(--color-black);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-beije);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  overflow-x: hidden;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 197, 98, 0.8);
  border-radius: 10px;
  transition: var(--transition);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc562;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

main {
  flex: 1 0 auto;
  padding-top: 90px;
}

h1,
h2 {
  font-size: 3rem;
  line-height: 1.17;
  font-weight: 700;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  outline: none;
  border: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

header {
  box-shadow: 0px 4px 0px transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-beije);
  transition: var(--transition);
  z-index: 5;
}

header.active {
  box-shadow: 0px 4px 0px var(--color-black);
}

header ul {
  display: flex;
  gap: 39px;
  font-weight: 700;
}

#items-in-cart {
  font-weight: 500;
  font-style: italic;
}

.btn {
  display: inline-block;
  font-weight: 700;
  box-shadow: 5px 5px 0px var(--color-red);
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 3px 3px 0px var(--color-red);
  cursor: pointer;
}

/* Cart */

.overlay {
  background-color: transparent;
  z-index: 7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  transform: scale(0);
  transition: 0.3s ease-in-out all;
}

.overlay.active {
  transform: scale(1);
}

.cart {
  background-color: var(--color-white);
  z-index: 10;
  position: fixed;
  right: -540px;
  top: 0;
  transition: 0.3s ease-in-out all;
  border-left: var(--border);
  border-right: var(--border);
  width: 520px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cart.active {
  right: 0;
}

.cart-body {
  background-color: var(--color-white);
}

.cart-header {
  min-height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  border-bottom: var(--border);
}

.cart-header p {
  padding-left: 18px;
}

.cart-header button {
  padding: 0 27px;
  height: 100%;
}

.cart-book-img {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--border);
}

.cart-book-img img {
  width: auto;
  height: 193px;
}

.cart-book {
  border-bottom: var(--border);
  display: grid;
  grid-template-columns: 160px auto 70px;
  min-height: 193px;
  max-height: fit-content;
}

.empty-message {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

.cart-book-details {
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-left: 20px;
}

.x-price {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-bottom: 13px;
  justify-content: space-between;
  height: 100%;
}

.remove-btn {
  font-size: 48px;
  line-height: 1;
  cursor: pointer;
  padding-right: 27px;
  text-align: right;
  color: var(--color-red);
}

.price-in-cart {
  padding-right: 11px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

.total-price {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  margin-top: 24px;
  text-align: right;
  padding-right: 11px;
}

.hidden {
  display: none;
}

.go-to-checkout {
  padding: 14px 85.5px;
  align-self: center;
  justify-self: center;
  margin-top: 24px;
  text-decoration: none;
}

.go-to-checkout:hover {
  text-decoration: none;
}

.blue {
  background: var(--color-blue);
}

.red {
  background: var(--color-red);
}

.yellow {
  background: var(--color-yellow);
}

.author {
  font-size: 1.25rem;
  line-height: 1.15;
  margin-bottom: 0.75rem;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.btn-yellow {
  color: var(--color-white);
  background: var(--color-yellow);
  margin-bottom: 34px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.copy {
  color: var(--color-red);
}

.close-btn {
  font-size: 48px;
  line-height: 1;
  cursor: pointer;
  border-left: var(--border);
  padding-left: 27px;
}
