section {
  padding: 50px 0;
}

h2 {
  margin-bottom: 70px;
}

.confirmation-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 520px;
}

.confirmation-form section {
  margin: 0;
  padding: 0;
  color: #515151;
}

.confirmation-form h3 {
  font-weight: 500;
  margin-bottom: 44px;
  color: var(--color-black);
  font-size: 18px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.label-input {
  position: relative;
  width: 100%;
}

.label-input label {
  position: absolute;
  bottom: 8px;
  left: 0;
  transition: var(--transition);
  padding-left: 4px;
}

.name-surname,
.house-flat-date {
  display: flex;
  gap: 20px;
  width: 100%;
}

input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  padding-left: 4px;
  transition: var(--transition);
}

input:focus {
  border-color: var(--color-blue);
}

input:focus + label {
  color: var(--color-blue);
}

.label-input input:focus + label,
.label-input input:valid + label {
  bottom: 24px;
  font-size: 14px;
}

.label-input.invalid label {
  bottom: 24px;
  font-size: 14px;
  color: var(--color-red);
}

.label-input.invalid input {
  border-color: var(--color-red);
  color: var(--color-red);
}

.label-input .invalid-message {
  opacity: 0;
  transition: var(--transition);
  color: var(--color-red);
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 5;
  font-size: 11px;
}

.label-input.invalid .invalid-message {
  opacity: 1;
}

input[type="date"] + label {
  opacity: 0;
}

input[type="date"]:valid + label {
  opacity: 1;
}

input[type="submit"] {
  padding: 14px 85.5px;
  max-width: 340px;
}

input[type="submit"]:disabled {
  background: #515151;
  box-shadow: 1px 1px 0px #000000;
}

.payment-gifts {
  display: flex;
  gap: 20px;
}

.payment-gifts section {
  width: 100%;
}

.label-input-radio {
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 27px;
  height: 72px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  min-width: 18px;
  max-width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #515151;
  outline: none;
  position: relative;
}

input[type="radio"]::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #515151;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  opacity: 0;
  transition: var(--transition);
}

input[type="radio"]:checked::after {
  opacity: 1;
}

.label-input-radio label {
  width: 100%;
}

.label-input-radio label span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #000000;
}

.label-input-radio label span.small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #515151;
  opacity: 0.8;
}

.label-input-gifts {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.label-input-gifts input {
  -webkit-appearance: none;
  appearance: none;
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
  background-color: transparent;
  border: 2px solid #515151;
  outline: none;
  color: #000000;
  position: relative;
  border-radius: 2px;
  transition: var(--transition);
}

.label-input-gifts input::after {
  content: url(../../assets/images/checkmark.svg);
  position: absolute;
  bottom: -2px;
  left: 1px;
  opacity: 0;
  transition: var(--transition);
}

.label-input-gifts input:checked {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.label-input-gifts input:checked::after {
  opacity: 1;
}
